# Common packages
briefcase
django
django-jinja
django-session-security
django-guardian
django-crispy-forms
crispy-bootstrap5
pendulum
pytest
pytest-django

# Processing
numpy
pandas
scipy
pillow
pydicom
python-gdcm
pynetdicom
tensorflow==2.15.0
torch
torchvision
opencv-python

# Required for Docker
psycopg2-binary
gunicorn