django
django-jinja
django-session-security
django-guardian
django-crispy-forms
crispy-bootstrap5
psycopg2-binary
django-rq
redis
hiredis
barbell2
pydicom
numpy
pandas
imageio
gunicorn
rq
openpyxl
python-gdcm
tensorflow
torch
torchvision
totalsegmentator
pyradiomics