{% extends "base.html" %}
{% load extra_filters %}
{% block content %}
<div class="container-fluid">
    <div class="row">
        <p style="margin-top: 10px">
            [<a href="/filesets/">Filesets</a>]&nbsp;[<a href="/logs/">Logs</a>]&nbsp;[<a href="https://mosamatic.rbeesoft.nl/wordpress/" target="_blank">Help</a>]
        </p>
    </div>
    <div class="row">
        <div class="col-sm-10">
            <div class="card" style="margin-top: 10px;">
                <div class="card-header">Available tasks</div>
                <div class="card-body">
                    <table class="table">
                        {% for task_name in task_names %}
                            <tr><td><a href="/tasks/{{ task_name }}">{{ task_name }}</a></td></tr>
                        {% endfor %}
                    </table>
                </div>
            </div>
        </div>
    </div>
    <!-- <div class="row">
        <div class="col-sm-10">
            <div class="card" style="margin-top: 10px;">
                <div class="card-header">Available pipelines</div>
                <div class="card-body">
                    <table class="table">
                        {% for pipeline_name in pipeline_names %}
                            <tr><td><a href="/pipelines/{{ pipeline_name }}">{{ pipeline_name }}</a></td></tr>
                        {% endfor %}
                    </table>
                </div>
            </div>
        </div>
    </div> -->
    <div class="row">
        <div class="col-sm-10">
            <div class="card" style="margin-top: 10px;">
                <div class="card-header">Task instances</div>
                <div class="card-body">
                    <input type="checkbox" class="form-check-input" id="auto-refresh" onclick="autoRefresh();" {% if auto_refresh %} checked {% endif %}>
                    <label class="form-check-label" for="auto-refresh">Auto refresh</label><br>
                    <br>
                    <table class="table">
                        <tr>
                            <th>Task name</th>
                            <th>Status</th>
                            <th>Progress</th>
                            <th>Created</th>
                            <th>Commands</th>
                        </tr>
                        {% for task in active_tasks %}
                            <tr>
                                <td>{{ task.name }}</td>
                                <td>{{ task.status }}</td>
                                <td>{{ task.progress }}</td>
                                <td>{{ task.created }}</td>
                                <td>
                                    {% if task.status == "running" %}
                                        <a href="/tasks/{{ task.id }}/cancel">[cancel]</a>
                                    {% endif %}
                                    {% if task.status == "completed" or task.status == "failed" or task.status == "canceled" %}
                                        <a href="/tasks/{{ task.id }}/remove">[remove]</a>
                                    {% endif %}
                                </td>
                            </tr>
                        {% endfor %}
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}