{% extends "base.html" %}
{% load extra_filters %}
{% block content %}
<div class="container-fluid">
    <div class="row">
        <p style="margin-top: 10px">
            [<a href="/tasks/">Back</a>]&nbsp;
        </p>
    </div>
    <div class="row">
        <div class="col-sm-10">
            <div class="card" style="margin-top: 10px;">
                <div class="card-header">
                    <b>{{ pipeline_name }}</b><br>
                    <i>{{ pipeline_description }}</i>
                </div>
                <div class="card-body">
                    <form action="/pipelines/{{ pipeline_name }}/run" method="post" enctype="multipart/form-data" id="my-form">
                        {% csrf_token %}
                        <textarea style="height: 400px;" name="pipeline_config" class="form-control" rows="5" placeholder="Enter your text here..."></textarea><br>
                        <button type="submit" class="btn btn-primary">Run pipeline</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}