{% extends "base.html" %}
{% load js %}
{% block content %}
<!-- https://adamj.eu/tech/2022/10/06/how-to-safely-pass-data-to-javascript-in-a-django-template/ -->
<!-- https://stackoverflow.com/questions/14904378/get-data-attribute-of-script-tag -->
<div class="container-fluid">
    <div class="row"><p style="margin-top: 10px"><a href="/datasets/">Back</a></p></div>
    <div class="row">
        <div class="col-sm-10">
            <div class="card" style="margin-top: 10px;">
                <div class="card-header">
                    View <b>{{ dataset.name }}</b><br>
                </div>
                <!-- Make sure DIV dimensions match the OpenGL render window of VTK.js -->
                <div id="container" class="card-body" style="width: 512px; height: 512px"></div>
                <script 
                    type="text/javascript" 
                    data-dataset-name="{{ dataset.name }}" 
                    data-png-files="{{ png_files }}"
                    src="/static/viewer/simple_cone.js">
                </script>
            </div>
        </div>
    </div>
</div>
{% endblock %}
